html {
  font-size: 16px;
}

body {
  font-family: "Martel Sans", sans-serif;
  background-color: #012947;
}

.gray-background {
  background-color: #F0F0F1;
}

.white-background {
  background-color: #FFF;
}

a {
  color: #0462a9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Martel, serif;
  color: #012947;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-family: Martel, serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #AE3100;
  text-shadow: 1px 1px 2px #012947;
}

h4 {
  font-family: Martel, serif;
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  line-height: 1.1;
}

#small-text {
  font-size: 0.75rem;
}

/*Header and Nav Section*/
header {
  height: 4rem;
  width: 100%;
  max-width: 75rem;
  position: fixed;
  top: 0;
}

header nav {
  max-width: 75rem;
  margin: 0 auto;
}

nav.mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav.desktop {
  display: none;
  width: 100%;
  height: 100%;
}

/*Headline Section*/
section.headline {
  max-width: 75rem;
  margin: 4rem auto 0 auto;
}

section.headline .banner-container {
  min-width: 15.1875rem;
}

section.headline .banner-container img {
  width: 100%;
  height: auto;
}

section.headline .content-container {
  padding-left: 1rem;
  padding-right: 1rem;

}

section.headline h3 {
  font-size: 1.5rem;
}

section.headline h3 {
  margin-bottom: 1.5rem;
}

section.headline .start-button {
  margin-bottom: 2rem;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #AE3100;
  color: #FFF;
  border-radius: 0.375rem;
}

section.headline .start-button span {
  font-size: 1.25rem;
  position: relative;
  top: 0.125rem;
}

section.headline .start-button:hover {

}

/*Features Section*/
section.features .main-feature-container {
  display: none;
}

section.features .sub-feature-container {
  padding: 1rem;
}

section.features .sub-feature-image {
  min-width: 15.1875rem;
}

section.features img.desktop-feature {
  display: none;
}

section.features img.mobile-feature {
  width: 100%;
  height: auto;
}

section.features .sub-feature-info {
  padding: 1rem 0 1rem 1rem;
}

/*section.features h4 {
  font-family: Martel, serif;
  font-size: 1.25rem;
  font-weight: 700;
}*/

section.features .sub-feature-info h4, .description {
  padding-bottom: 0.5rem;
}

/*Learning Section*/
section.learning {
  padding: 1.5rem 1rem;
}

section.learning h2 {
  text-align: center;
  padding: 0.5rem 0;
}

section.learning .top-courses {
  display: none;
}

section.learning .bottom-courses {
  display: none;
}

section.learning .mobile-course-container h4 {
  margin: 0.5rem auto;
  padding: 1rem 0 1rem 1rem;
}

section.thesis {
  padding-bottom: 1.5rem;
}

section.thesis h2 {
  padding: 2rem 0;
  text-align: center;
}

section.thesis video {
  width: 100%;
  height: auto;
}

section.thesis .main-thesis-info {
  display: none;
}

section.thesis .all-thesis-subs {
  display: none;
}

footer .copyright {
  padding: 1rem 0 1rem 1rem;
}

footer .links {
  display: none;
}

@media only screen and (min-width: 600px) {
  nav.mobile {
    display: none;
  }

  nav.desktop {
    display: flex;
    align-items: center;
    font-family: "Martel", serif;
  }

  nav.desktop .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
    left: 1.5rem;
  }

  nav.desktop #name {
    font-weight: 800;
    padding-right: 0.0625rem;
  }

  nav.desktop .links {
    position: relative;
    left: -1.5rem;
    font-weight: 700;
  }

  nav.desktop .links span.right-margin {
    margin-right: 1rem;
  }

  section.headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  section.headline .banner-container {
    width: 60%;
    padding: 2rem 1.5rem;
  }

  section.headline .banner-container img {
    width: 100%;
    height: auto;
  }

  section.headline .content-container {
    width: 40%;
    padding: 0;
  }

  section.headline .content-container > * {
    width: 75%;
    margin-left: 1rem;
  }

  section.features {
    display: flex;
    justify-content: flex-start;
    max-width: 75rem;
    margin: 0 auto;
  }

  section.features .main-feature-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    padding: 2rem 1.5rem;
  }

  section.features .main-image-container {
    width: 100%;
  }

  section.features .main-feature-container img {
    width: 100%;
    height: auto;
  }

  section.features h2 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  section.features span {
    padding-top: 1.5rem;
  }

  section.features .all-sub-features {
    width: 40%;
    padding: 1rem 0 0 0;
  }

  section.features .sub-feature-container {
    padding: 1rem;
  }

  section.features .sub-feature {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  section.features .sub-feature-image {
    min-width: 0;
    max-width: 35%;
  }

  section.features img.mobile-feature {
    display: none;
  }

  section.features img.desktop-feature {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  section.features .sub-feature-info {
    padding: 0;
    margin-left: 1.5rem;
  }

  section.features .description {
    padding: 0.5rem 0;
  }

  section.learning {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1.5rem 0;
  }

  section.learning h2 {
    padding-bottom: 2rem;
  }

  section.learning .mobile-course-container {
    display: none;
  }

  section.learning .top-courses {
    display: flex;
    justify-content: center;
  }

  section.learning .bottom-courses {
    display: flex;
    justify-content: center;
  }

  section.learning .desktop-course-container {
    width: 28%;
    margin: 0.5rem 1rem;
  }

  section.learning .course-image img {
    width: 100%;
    height: auto;
  }

  section.learning .course-content {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  section.learning .course-content h4 {
    padding-bottom: 0.5rem;
  }

  section.learning .course-content h5 {
    padding-top: 0.5rem;
  }

  section.learning .course-content h5.listing {
    padding-bottom: 0.5rem;
  }

  section.thesis {
    max-width: 75rem;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  section.thesis .thesis-flex-container {
    display: flex;
  }

  section.thesis .thesis-feature {
    width: 60%;
    padding: 0 1.5rem;
  }

  section.thesis .main-thesis-info  {
    display: block;
  }

  section.thesis .main-thesis-info h4 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  section.thesis .all-thesis-subs {
    display: block;
    width: 40%;
  }

  section.thesis .thesis-sub-container {
    padding: 1rem;
  }

  section.thesis .thesis-sub-feature {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  section.thesis .thesis-sub-image {
    max-width: 35%;
  }

  section.thesis .thesis-sub-image img {
    width: 100%;
    height: auto;
  }

  section.thesis .thesis-info {
    margin-left: 1rem;
  }

  section.thesis .thesis-info h4 {
    padding-bottom: 0.875rem;
  }

  footer {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
  }

  footer .copyright {
    flex-grow: 1;
    padding-left: 1.5rem;
  }

  footer .links {
    display: block;
    padding: 1rem 0;
  }

  footer li {
    display: inline;
    padding-right: 0.375rem;
  }
}
